src/resource/services.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://schemas.microsoft.com/exchange/services/2006/messages" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:t="http://schemas.microsoft.com/exchange/services/2006/types" targetNamespace="http://schemas.microsoft.com/exchange/services/2006/messages">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://schemas.microsoft.com/exchange/services/2006/messages" schemaLocation="messages.xsd"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="UploadItemsSoapIn">
        <wsdl:part name="request" element="tns:UploadItems"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="UploadItemsSoapOut">
        <wsdl:part name="UploadItemsResult" element="tns:UploadItemsResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="ExportItemsSoapIn">
        <wsdl:part name="request" element="tns:ExportItems"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="ExportItemsSoapOut">
        <wsdl:part name="ExportItemsResult" element="tns:ExportItemsResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:message name="ConvertIdSoapIn">
        <wsdl:part name="request" element="tns:ConvertId"/>
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="ConvertIdSoapOut">
        <wsdl:part name="ConvertIdResult" element="tns:ConvertIdResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetFolderSoapIn">
        <wsdl:part name="request" element="tns:GetFolder"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="GetFolderSoapOut">
        <wsdl:part name="GetFolderResult" element="tns:GetFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CreateFolderSoapIn">
        <wsdl:part name="request" element="tns:CreateFolder"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="CreateFolderSoapOut">
        <wsdl:part name="CreateFolderResult" element="tns:CreateFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CreateManagedFolderSoapIn">
        <wsdl:part name="request" element="tns:CreateManagedFolder"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="CreateManagedFolderSoapOut">
        <wsdl:part name="CreateManagedFolderResult" element="tns:CreateManagedFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="DeleteFolderSoapIn">
        <wsdl:part name="request" element="tns:DeleteFolder"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="DeleteFolderSoapOut">
        <wsdl:part name="DeleteFolderResult" element="tns:DeleteFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="EmptyFolderSoapIn">
        <wsdl:part name="request" element="tns:EmptyFolder"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
        <wsdl:message name="EmptyFolderSoapOut">
        <wsdl:part name="EmptyFolderResult" element="tns:EmptyFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="UpdateFolderSoapIn">
        <wsdl:part name="request" element="tns:UpdateFolder"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="UpdateFolderSoapOut">
        <wsdl:part name="UpdateFolderResult" element="tns:UpdateFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="MoveFolderSoapIn">
        <wsdl:part name="request" element="tns:MoveFolder"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="MoveFolderSoapOut">
        <wsdl:part name="MoveFolderResult" element="tns:MoveFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CopyFolderSoapIn">
        <wsdl:part name="request" element="tns:CopyFolder"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="CopyFolderSoapOut">
        <wsdl:part name="CopyFolderResult" element="tns:CopyFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="FindFolderSoapIn">
        <wsdl:part name="request" element="tns:FindFolder"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="FindFolderSoapOut">
        <wsdl:part name="FindFolderResult" element="tns:FindFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetItemSoapIn">
        <wsdl:part name="request" element="tns:GetItem"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="GetItemSoapOut">
        <wsdl:part name="GetItemResult" element="tns:GetItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CreateItemSoapIn">
        <wsdl:part name="request" element="tns:CreateItem"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="CreateItemSoapOut">
        <wsdl:part name="CreateItemResult" element="tns:CreateItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="DeleteItemSoapIn">
        <wsdl:part name="request" element="tns:DeleteItem"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="DeleteItemSoapOut">
        <wsdl:part name="DeleteItemResult" element="tns:DeleteItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="UpdateItemSoapIn">
        <wsdl:part name="request" element="tns:UpdateItem"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="UpdateItemSoapOut">
        <wsdl:part name="UpdateItemResult" element="tns:UpdateItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="SendItemSoapIn">
        <wsdl:part name="request" element="tns:SendItem"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="SendItemSoapOut">
        <wsdl:part name="SendItemResult" element="tns:SendItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="MoveItemSoapIn">
        <wsdl:part name="request" element="tns:MoveItem"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="MoveItemSoapOut">
        <wsdl:part name="MoveItemResult" element="tns:MoveItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CopyItemSoapIn">
        <wsdl:part name="request" element="tns:CopyItem"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="CopyItemSoapOut">
        <wsdl:part name="CopyItemResult" element="tns:CopyItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="CreateAttachmentSoapIn">
        <wsdl:part name="request" element="tns:CreateAttachment"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="CreateAttachmentSoapOut">
        <wsdl:part name="CreateAttachmentResult" element="tns:CreateAttachmentResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="DeleteAttachmentSoapIn">
        <wsdl:part name="request" element="tns:DeleteAttachment"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="DeleteAttachmentSoapOut">
        <wsdl:part name="DeleteAttachmentResult" element="tns:DeleteAttachmentResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetAttachmentSoapIn">
        <wsdl:part name="request" element="tns:GetAttachment"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="GetAttachmentSoapOut">
        <wsdl:part name="GetAttachmentResult" element="tns:GetAttachmentResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="ResolveNamesSoapIn">
        <wsdl:part name="request" element="tns:ResolveNames"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="ResolveNamesSoapOut">
        <wsdl:part name="ResolveNamesResult" element="tns:ResolveNamesResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="ExpandDLSoapIn">
        <wsdl:part name="request" element="tns:ExpandDL"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="ExpandDLSoapOut">
        <wsdl:part name="ExpandDLResult" element="tns:ExpandDLResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetServerTimeZonesSoapIn">
        <wsdl:part name="request" element="tns:GetServerTimeZones"/>
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="GetServerTimeZonesSoapOut">
        <wsdl:part name="GetServerTimeZonesResult" element="tns:GetServerTimeZonesResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="FindItemSoapIn">
        <wsdl:part name="request" element="tns:FindItem"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="FindItemSoapOut">
        <wsdl:part name="FindItemResult" element="tns:FindItemResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:message name="SubscribeSoapIn">
        <wsdl:part name="request" element="tns:Subscribe"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="SubscribeSoapOut">
        <wsdl:part name="SubscribeResult" element="tns:SubscribeResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="UnsubscribeSoapIn">
        <wsdl:part name="request" element="tns:Unsubscribe"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="UnsubscribeSoapOut">
        <wsdl:part name="UnsubscribeResult" element="tns:UnsubscribeResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetEventsSoapIn">
        <wsdl:part name="request" element="tns:GetEvents"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="GetEventsSoapOut">
        <wsdl:part name="GetEventsResult" element="tns:GetEventsResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetStreamingEventsSoapIn">
      <wsdl:part name="request" element="tns:GetStreamingEvents"/>
      <!--FIX: Removed Impersonation part-->
      <!--FIX: Removed MailboxCulture part-->
      <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="GetStreamingEventsSoapOut">
      <wsdl:part name="GetStreamingEventsResult" element="tns:GetStreamingEventsResponse"/>
      <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="SyncFolderHierarchySoapIn">
        <wsdl:part name="request" element="tns:SyncFolderHierarchy"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="SyncFolderHierarchySoapOut">
        <wsdl:part name="SyncFolderHierarchyResult" element="tns:SyncFolderHierarchyResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="SyncFolderItemsSoapIn">
        <wsdl:part name="request" element="tns:SyncFolderItems"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="SyncFolderItemsSoapOut">
        <wsdl:part name="SyncFolderItemsResult" element="tns:SyncFolderItemsResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:message name="GetDelegateSoapIn">
        <wsdl:part name="request" element="tns:GetDelegate"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="GetDelegateSoapOut">
        <wsdl:part name="GetDelegateResult" element="tns:GetDelegateResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="AddDelegateSoapIn">
        <wsdl:part name="request" element="tns:AddDelegate"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="AddDelegateSoapOut">
        <wsdl:part name="AddDelegateResult" element="tns:AddDelegateResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="RemoveDelegateSoapIn">
        <wsdl:part name="request" element="tns:RemoveDelegate"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="RemoveDelegateSoapOut">
        <wsdl:part name="RemoveDelegateResult" element="tns:RemoveDelegateResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="UpdateDelegateSoapIn">
        <wsdl:part name="request" element="tns:UpdateDelegate"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="UpdateDelegateSoapOut">
        <wsdl:part name="UpdateDelegateResult" element="tns:UpdateDelegateResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:message name="CreateUserConfigurationSoapIn">
        <wsdl:part name="request" element="tns:CreateUserConfiguration"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="CreateUserConfigurationSoapOut">
        <wsdl:part name="CreateUserConfigurationResult" element="tns:CreateUserConfigurationResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="DeleteUserConfigurationSoapIn">
        <wsdl:part name="request" element="tns:DeleteUserConfiguration"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="DeleteUserConfigurationSoapOut">
        <wsdl:part name="DeleteUserConfigurationResult" element="tns:DeleteUserConfigurationResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetUserConfigurationSoapIn">
        <wsdl:part name="request" element="tns:GetUserConfiguration"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="GetUserConfigurationSoapOut">
        <wsdl:part name="GetUserConfigurationResult" element="tns:GetUserConfigurationResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="UpdateUserConfigurationSoapIn">
        <wsdl:part name="request" element="tns:UpdateUserConfiguration"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="UpdateUserConfigurationSoapOut">
        <wsdl:part name="UpdateUserConfigurationResult" element="tns:UpdateUserConfigurationResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <!-- Availability Service messages -->
    <wsdl:message name="GetUserAvailabilitySoapIn">
        <wsdl:part name="GetUserAvailabilityRequest" element="tns:GetUserAvailabilityRequest"/>
    </wsdl:message>
    <wsdl:message name="GetUserAvailabilitySoapOut">
        <wsdl:part name="GetUserAvailabilityResult" element="tns:GetUserAvailabilityResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="GetUserOofSettingsSoapIn">
        <wsdl:part name="GetUserOofSettingsRequest" element="tns:GetUserOofSettingsRequest"/>
        <!--FIX: Removed Impersonation part-->
    </wsdl:message>
    <wsdl:message name="GetUserOofSettingsSoapOut">
        <wsdl:part name="GetUserOofSettingsResult" element="tns:GetUserOofSettingsResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>
    <wsdl:message name="SetUserOofSettingsSoapIn">
        <wsdl:part name="SetUserOofSettingsRequest" element="tns:SetUserOofSettingsRequest"/>
        <!--FIX: Removed Impersonation part-->
    </wsdl:message>
    <wsdl:message name="SetUserOofSettingsSoapOut">
        <wsdl:part name="SetUserOofSettingsResult" element="tns:SetUserOofSettingsResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <!-- MailTips Messages -->
    <wsdl:message name="GetMailTipsSoapIn">
        <wsdl:part name="request" element="tns:GetMailTips"/>
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed MailboxCulture part-->
    </wsdl:message>
    <wsdl:message name="GetMailTipsSoapOut">
        <wsdl:part name="GetMailTipsResult" element="tns:GetMailTipsResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <!-- UM Messages -->
    <wsdl:message name="PlayOnPhoneSoapIn">
        <wsdl:part name="request" element="tns:PlayOnPhone"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="PlayOnPhoneSoapOut">
        <wsdl:part name="PlayOnPhoneResult" element="tns:PlayOnPhoneResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:message name="GetPhoneCallInformationSoapIn">
        <wsdl:part name="request" element="tns:GetPhoneCallInformation"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="GetPhoneCallInformationSoapOut">
        <wsdl:part name="GetPhoneCallInformationResult" element="tns:GetPhoneCallInformationResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:message name="DisconnectPhoneCallSoapIn">
        <wsdl:part name="request" element="tns:DisconnectPhoneCall"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="DisconnectPhoneCallSoapOut">
        <wsdl:part name="DisconnectPhoneCallResult" element="tns:DisconnectPhoneCallResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>


    <!-- Sharing Messages -->
    <wsdl:message name="GetSharingMetadataSoapIn">
        <wsdl:part name="request" element="tns:GetSharingMetadata"/>
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="GetSharingMetadataSoapOut">
        <wsdl:part name="GetSharingMetadataResult" element="tns:GetSharingMetadataResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:message name="RefreshSharingFolderSoapIn">
        <wsdl:part name="request" element="tns:RefreshSharingFolder"/>
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="RefreshSharingFolderSoapOut">
        <wsdl:part name="RefreshSharingFolderResult" element="tns:RefreshSharingFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:message name="GetSharingFolderSoapIn">
        <wsdl:part name="request" element="tns:GetSharingFolder"/>
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="GetSharingFolderSoapOut">
        <wsdl:part name="GetSharingFolderResult" element="tns:GetSharingFolderResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <!-- Find A Room Service Messages -->

    <!-- GetRoomLists Service Messages -->
    <wsdl:message name="GetRoomListsSoapIn">
        <wsdl:part name="GetRoomListsRequest" element="tns:GetRoomLists"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>

    <wsdl:message name="GetRoomListsSoapOut">
        <wsdl:part name="GetRoomListsResult" element="tns:GetRoomListsResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <!-- GetRooms Service Messages -->
    <wsdl:message name="GetRoomsSoapIn">
        <wsdl:part name="GetRoomsRequest" element="tns:GetRooms"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>

    <wsdl:message name="GetRoomsSoapOut">
        <wsdl:part name="GetRoomsResult" element="tns:GetRoomsResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <!-- GetServiceConfiguration Messages -->
    <wsdl:message name="GetServiceConfigurationSoapIn">
        <wsdl:part name="request" element="tns:GetServiceConfiguration"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed MailboxCulture part-->
    </wsdl:message>
    <wsdl:message name="GetServiceConfigurationSoapOut">
        <wsdl:part name="GetServiceConfigurationResult" element="tns:GetServiceConfigurationResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <!-- MessageTracking Messages -->
    <wsdl:message name="FindMessageTrackingReportSoapIn">
        <wsdl:part name="request" element="tns:FindMessageTrackingReport"/>
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="FindMessageTrackingReportSoapOut">
        <wsdl:part name="FindMessageTrackingReportResult" element="tns:FindMessageTrackingReportResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:message name="GetMessageTrackingReportSoapIn">
        <wsdl:part name="request" element="tns:GetMessageTrackingReport"/>
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="GetMessageTrackingReportSoapOut">
        <wsdl:part name="GetMessageTrackingReportResult" element="tns:GetMessageTrackingReportResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <!-- Conversation Messages-->
    <wsdl:message name="FindConversationSoapIn">
        <wsdl:part name="request" element="tns:FindConversation"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="FindConversationSoapOut">
        <wsdl:part name="FindConversationResult" element="tns:FindConversationResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:message name="ApplyConversationActionSoapIn">
        <wsdl:part name="request" element="tns:ApplyConversationAction"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed RequestVersion part-->
    </wsdl:message>
    <wsdl:message name="ApplyConversationActionSoapOut">
        <wsdl:part name="ApplyConversationActionResult" element="tns:ApplyConversationActionResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <!-- Inbox Rules Messages -->
    <wsdl:message name="GetInboxRulesSoapIn">
        <wsdl:part name="request" element="tns:GetInboxRules"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="GetInboxRulesSoapOut">
        <wsdl:part name="GetInboxRulesResult" element="tns:GetInboxRulesResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:message name="UpdateInboxRulesSoapIn">
        <wsdl:part name="request" element="tns:UpdateInboxRules"/>
        <!--FIX: Removed Impersonation part-->
        <!--FIX: Removed MailboxCulture part-->
        <!--FIX: Removed RequestVersion part-->
        <!--FIX: Removed TimeZoneContext part-->
    </wsdl:message>
    <wsdl:message name="UpdateInboxRulesSoapOut">
        <wsdl:part name="UpdateInboxRulesResult" element="tns:UpdateInboxRulesResponse"/>
        <wsdl:part name="ServerVersion" element="t:ServerVersionInfo"/>
    </wsdl:message>

    <wsdl:portType name="ExchangeServicePortType">
        <wsdl:operation name="ResolveNames">
            <wsdl:input message="tns:ResolveNamesSoapIn"/>
            <wsdl:output message="tns:ResolveNamesSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ExpandDL">
            <wsdl:input message="tns:ExpandDLSoapIn"/>
            <wsdl:output message="tns:ExpandDLSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetServerTimeZones">
            <wsdl:input message="tns:GetServerTimeZonesSoapIn"/>
            <wsdl:output message="tns:GetServerTimeZonesSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="FindFolder">
            <wsdl:input message="tns:FindFolderSoapIn"/>
            <wsdl:output message="tns:FindFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="FindItem">
            <wsdl:input message="tns:FindItemSoapIn"/>
            <wsdl:output message="tns:FindItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetFolder">
            <wsdl:input message="tns:GetFolderSoapIn"/>
            <wsdl:output message="tns:GetFolderSoapOut"/>
        </wsdl:operation>

      <wsdl:operation name="UploadItems">
          <wsdl:input message="tns:UploadItemsSoapIn"/>
          <wsdl:output message="tns:UploadItemsSoapOut"/>
      </wsdl:operation>
      <wsdl:operation name="ExportItems">
          <wsdl:input message="tns:ExportItemsSoapIn"/>
          <wsdl:output message="tns:ExportItemsSoapOut"/>
      </wsdl:operation>

        <wsdl:operation name="ConvertId">
            <wsdl:input message="tns:ConvertIdSoapIn"/>
            <wsdl:output message="tns:ConvertIdSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CreateFolder">
            <wsdl:input message="tns:CreateFolderSoapIn"/>
            <wsdl:output message="tns:CreateFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteFolder">
            <wsdl:input message="tns:DeleteFolderSoapIn"/>
            <wsdl:output message="tns:DeleteFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="EmptyFolder">
            <wsdl:input message="tns:EmptyFolderSoapIn"/>
            <wsdl:output message="tns:EmptyFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateFolder">
            <wsdl:input message="tns:UpdateFolderSoapIn"/>
            <wsdl:output message="tns:UpdateFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="MoveFolder">
            <wsdl:input message="tns:MoveFolderSoapIn"/>
            <wsdl:output message="tns:MoveFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CopyFolder">
            <wsdl:input message="tns:CopyFolderSoapIn"/>
            <wsdl:output message="tns:CopyFolderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Subscribe">
            <wsdl:input message="tns:SubscribeSoapIn"/>
            <wsdl:output message="tns:SubscribeSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Unsubscribe">
            <wsdl:input message="tns:UnsubscribeSoapIn"/>
            <wsdl:output message="tns:UnsubscribeSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetEvents">
            <wsdl:input message="tns:GetEventsSoapIn"/>
            <wsdl:output message="tns:GetEventsSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetStreamingEvents">
          <wsdl:input message="tns:GetStreamingEventsSoapIn"/>
          <wsdl:output message="tns:GetStreamingEventsSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="SyncFolderHierarchy">
            <wsdl:input message="tns:SyncFolderHierarchySoapIn"/>
            <wsdl:output message="tns:SyncFolderHierarchySoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="SyncFolderItems">
            <wsdl:input message="tns:SyncFolderItemsSoapIn"/>
            <wsdl:output message="tns:SyncFolderItemsSoapOut"/>
        </wsdl:operation>

        <wsdl:operation name="CreateManagedFolder">
            <wsdl:input message="tns:CreateManagedFolderSoapIn"/>
            <wsdl:output message="tns:CreateManagedFolderSoapOut"/>
        </wsdl:operation>

        <wsdl:operation name="GetItem">
            <wsdl:input message="tns:GetItemSoapIn"/>
            <wsdl:output message="tns:GetItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CreateItem">
            <wsdl:input message="tns:CreateItemSoapIn"/>
            <wsdl:output message="tns:CreateItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteItem">
            <wsdl:input message="tns:DeleteItemSoapIn"/>
            <wsdl:output message="tns:DeleteItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateItem">
            <wsdl:input message="tns:UpdateItemSoapIn"/>
            <wsdl:output message="tns:UpdateItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="SendItem">
            <wsdl:input message="tns:SendItemSoapIn"/>
            <wsdl:output message="tns:SendItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="MoveItem">
            <wsdl:input message="tns:MoveItemSoapIn"/>
            <wsdl:output message="tns:MoveItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CopyItem">
            <wsdl:input message="tns:CopyItemSoapIn"/>
            <wsdl:output message="tns:CopyItemSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CreateAttachment">
            <wsdl:input message="tns:CreateAttachmentSoapIn"/>
            <wsdl:output message="tns:CreateAttachmentSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteAttachment">
            <wsdl:input message="tns:DeleteAttachmentSoapIn"/>
            <wsdl:output message="tns:DeleteAttachmentSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetAttachment">
            <wsdl:input message="tns:GetAttachmentSoapIn"/>
            <wsdl:output message="tns:GetAttachmentSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetDelegate">
            <wsdl:input message="tns:GetDelegateSoapIn"/>
            <wsdl:output message="tns:GetDelegateSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="AddDelegate">
            <wsdl:input message="tns:AddDelegateSoapIn"/>
            <wsdl:output message="tns:AddDelegateSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RemoveDelegate">
            <wsdl:input message="tns:RemoveDelegateSoapIn"/>
            <wsdl:output message="tns:RemoveDelegateSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateDelegate">
            <wsdl:input message="tns:UpdateDelegateSoapIn"/>
            <wsdl:output message="tns:UpdateDelegateSoapOut"/>
        </wsdl:operation>

        <wsdl:operation name="CreateUserConfiguration">
            <wsdl:input message="tns:CreateUserConfigurationSoapIn"/>
            <wsdl:output message="tns:CreateUserConfigurationSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteUserConfiguration">
            <wsdl:input message="tns:DeleteUserConfigurationSoapIn"/>
            <wsdl:output message="tns:DeleteUserConfigurationSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetUserConfiguration">
            <wsdl:input message="tns:GetUserConfigurationSoapIn"/>
            <wsdl:output message="tns:GetUserConfigurationSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateUserConfiguration">
            <wsdl:input message="tns:UpdateUserConfigurationSoapIn"/>
            <wsdl:output message="tns:UpdateUserConfigurationSoapOut"/>
        </wsdl:operation>

        <!-- Availability Service Operations -->

        <!-- GetUserAvailability -->
        <wsdl:operation name="GetUserAvailability">
            <wsdl:input message="tns:GetUserAvailabilitySoapIn"/>
            <wsdl:output message="tns:GetUserAvailabilitySoapOut"/>
        </wsdl:operation>

        <!-- GetUserOofSettings -->
        <wsdl:operation name="GetUserOofSettings">
            <wsdl:input message="tns:GetUserOofSettingsSoapIn"/>
            <wsdl:output message="tns:GetUserOofSettingsSoapOut"/>
        </wsdl:operation>

        <!-- SetUserOofSettings -->
        <wsdl:operation name="SetUserOofSettings">
            <wsdl:input message="tns:SetUserOofSettingsSoapIn"/>
            <wsdl:output message="tns:SetUserOofSettingsSoapOut"/>
        </wsdl:operation>

        <!-- GetServiceConfiguration Operations -->
        <wsdl:operation name="GetServiceConfiguration">
            <wsdl:input message="tns:GetServiceConfigurationSoapIn"/>
            <wsdl:output message="tns:GetServiceConfigurationSoapOut"/>
        </wsdl:operation>

        <!-- MailTips Operations -->
        <wsdl:operation name="GetMailTips">
            <wsdl:input message="tns:GetMailTipsSoapIn"/>
            <wsdl:output message="tns:GetMailTipsSoapOut"/>
        </wsdl:operation>

        <!-- UM Operations -->
        <wsdl:operation name="PlayOnPhone">
            <wsdl:input message="tns:PlayOnPhoneSoapIn"/>
            <wsdl:output message="tns:PlayOnPhoneSoapOut"/>
        </wsdl:operation>

        <wsdl:operation name="GetPhoneCallInformation">
            <wsdl:input message="tns:GetPhoneCallInformationSoapIn"/>
            <wsdl:output message="tns:GetPhoneCallInformationSoapOut"/>
        </wsdl:operation>

        <wsdl:operation name="DisconnectPhoneCall">
            <wsdl:input message="tns:DisconnectPhoneCallSoapIn"/>
            <wsdl:output message="tns:DisconnectPhoneCallSoapOut"/>
        </wsdl:operation>

        <!-- Sharing Operations -->
        <wsdl:operation name="GetSharingMetadata">
            <wsdl:input message="tns:GetSharingMetadataSoapIn"/>
            <wsdl:output message="tns:GetSharingMetadataSoapOut"/>
        </wsdl:operation>

        <wsdl:operation name="RefreshSharingFolder">
            <wsdl:input message="tns:RefreshSharingFolderSoapIn"/>
            <wsdl:output message="tns:RefreshSharingFolderSoapOut"/>
        </wsdl:operation>

        <wsdl:operation name="GetSharingFolder">
            <wsdl:input message="tns:GetSharingFolderSoapIn"/>
            <wsdl:output message="tns:GetSharingFolderSoapOut"/>
        </wsdl:operation>

        <!-- Find A Room Service Operations -->

        <!-- GetRoomLists -->
        <wsdl:operation name="GetRoomLists">
            <wsdl:input message="tns:GetRoomListsSoapIn"/>
            <wsdl:output message="tns:GetRoomListsSoapOut"/>
        </wsdl:operation>

        <!-- GetRooms -->
        <wsdl:operation name="GetRooms">
            <wsdl:input message="tns:GetRoomsSoapIn"/>
            <wsdl:output message="tns:GetRoomsSoapOut"/>
        </wsdl:operation>

        <!-- MessageTracking -->
        <wsdl:operation name="FindMessageTrackingReport">
            <wsdl:input message="tns:FindMessageTrackingReportSoapIn"/>
            <wsdl:output message="tns:FindMessageTrackingReportSoapOut"/>
        </wsdl:operation>

        <wsdl:operation name="GetMessageTrackingReport">
            <wsdl:input message="tns:GetMessageTrackingReportSoapIn"/>
            <wsdl:output message="tns:GetMessageTrackingReportSoapOut"/>
        </wsdl:operation>

        <!--Conversations-->
        <wsdl:operation name="FindConversation">
            <wsdl:input message="tns:FindConversationSoapIn"/>
            <wsdl:output message="tns:FindConversationSoapOut"/>
        </wsdl:operation>

        <wsdl:operation name="ApplyConversationAction">
            <wsdl:input message="tns:ApplyConversationActionSoapIn"/>
            <wsdl:output message="tns:ApplyConversationActionSoapOut"/>
        </wsdl:operation>

        <!-- Inbox Rules -->
        <wsdl:operation name="GetInboxRules">
            <wsdl:input message="tns:GetInboxRulesSoapIn"/>
            <wsdl:output message="tns:GetInboxRulesSoapOut"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateInboxRules">
            <wsdl:input message="tns:UpdateInboxRulesSoapIn"/>
            <wsdl:output message="tns:UpdateInboxRulesSoapOut"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="ExchangeServiceBinding" type="tns:ExchangeServicePortType">
        <wsdl:documentation>
            <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.0"/>
        </wsdl:documentation>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ResolveNames">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/ResolveNames"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ResolveNamesResult" use="literal"/>
                <soap:header message="tns:ResolveNamesSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExpandDL">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/ExpandDL"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ExpandDLResult" use="literal"/>
                <soap:header message="tns:ExpandDLSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetServerTimeZones">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetServerTimeZones"/>
            <wsdl:input>
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetServerTimeZonesResult" use="literal"/>
                <soap:header message="tns:GetServerTimeZonesSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="FindFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/FindFolder"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="FindFolderResult" use="literal"/>
                <soap:header message="tns:FindFolderSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FindItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/FindItem"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="FindItemResult" use="literal"/>
                <soap:header message="tns:FindItemSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetFolder"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetFolderResult" use="literal"/>
                <soap:header message="tns:GetFolderSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConvertId">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/ConvertId"/>
            <wsdl:input>
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ConvertIdResult" use="literal"/>
                <soap:header message="tns:ConvertIdSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UploadItems">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UploadItems"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="UploadItemsResult" use="literal"/>
                <soap:header message="tns:UploadItemsSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ExportItems">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/ExportItems"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ExportItemsResult" use="literal"/>
                <soap:header message="tns:ExportItemsSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreateFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateFolder"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="CreateFolderResult" use="literal"/>
                <soap:header message="tns:CreateFolderSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DeleteFolder"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="DeleteFolderResult" use="literal"/>
                <soap:header message="tns:DeleteFolderSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EmptyFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/EmptyFolder"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="EmptyFolderResult" use="literal"/>
                <soap:header message="tns:EmptyFolderSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateFolder"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="UpdateFolderResult" use="literal"/>
                <soap:header message="tns:UpdateFolderSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MoveFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/MoveFolder"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="MoveFolderResult" use="literal"/>
                <soap:header message="tns:MoveFolderSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CopyFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CopyFolder"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="CopyFolderResult" use="literal"/>
                <soap:header message="tns:CopyFolderSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Subscribe">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/Subscribe"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="SubscribeResult" use="literal"/>
                <soap:header message="tns:SubscribeSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Unsubscribe">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/Unsubscribe"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="UnsubscribeResult" use="literal"/>
                <soap:header message="tns:UnsubscribeSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetEvents">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetEvents"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetEventsResult" use="literal"/>
                <soap:header message="tns:GetEventsSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetStreamingEvents">
          <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetEvents"/>
          <wsdl:input>
            <!--FIX: Removed Impersonation header-->
            <!--FIX: Removed MailboxCulture header-->
            <!--FIX: Removed RequestVersion header-->
            <soap:body parts="request" use="literal"/>
          </wsdl:input>
          <wsdl:output>
            <soap:body parts="GetStreamingEventsResult" use="literal"/>
            <soap:header message="tns:GetStreamingEventsSoapOut" part="ServerVersion" use="literal"/>
          </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SyncFolderHierarchy">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SyncFolderHierarchy"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="SyncFolderHierarchyResult" use="literal"/>
                <soap:header message="tns:SyncFolderHierarchySoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SyncFolderItems">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SyncFolderItems"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="SyncFolderItemsResult" use="literal"/>
                <soap:header message="tns:SyncFolderItemsSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetItem"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetItemResult" use="literal"/>
                <soap:header message="tns:GetItemSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateItem"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="CreateItemResult" use="literal"/>
                <soap:header message="tns:CreateItemSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DeleteItem"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="DeleteItemResult" use="literal"/>
                <soap:header message="tns:DeleteItemSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateItem"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="UpdateItemResult" use="literal"/>
                <soap:header message="tns:UpdateItemSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SendItem"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="SendItemResult" use="literal"/>
                <soap:header message="tns:SendItemSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MoveItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/MoveItem"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="MoveItemResult" use="literal"/>
                <soap:header message="tns:MoveItemSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CopyItem">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CopyItem"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="CopyItemResult" use="literal"/>
                <soap:header message="tns:CopyItemSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateAttachment">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateAttachment"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="CreateAttachmentResult" use="literal"/>
                <soap:header message="tns:CreateAttachmentSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteAttachment">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DeleteAttachment"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="DeleteAttachmentResult" use="literal"/>
                <soap:header message="tns:DeleteAttachmentSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAttachment">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetAttachment"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetAttachmentResult" use="literal"/>
                <soap:header message="tns:GetAttachmentSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreateManagedFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateManagedFolder"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="CreateManagedFolderResult" use="literal"/>
                <soap:header message="tns:CreateManagedFolderSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetDelegate">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetDelegate"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetDelegateResult" use="literal"/>
                <soap:header message="tns:GetDelegateSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="AddDelegate">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/AddDelegate"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="AddDelegateResult" use="literal"/>
                <soap:header message="tns:AddDelegateSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="RemoveDelegate">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/RemoveDelegate"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="RemoveDelegateResult" use="literal"/>
                <soap:header message="tns:RemoveDelegateSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdateDelegate">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateDelegate"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="UpdateDelegateResult" use="literal"/>
                <soap:header message="tns:UpdateDelegateSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="CreateUserConfiguration">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/CreateUserConfiguration"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="CreateUserConfigurationResult" use="literal"/>
                <soap:header message="tns:CreateUserConfigurationSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DeleteUserConfiguration">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DeleteUserConfiguration"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="DeleteUserConfigurationResult" use="literal"/>
                <soap:header message="tns:DeleteUserConfigurationSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetUserConfiguration">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetUserConfiguration"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetUserConfigurationResult" use="literal"/>
                <soap:header message="tns:GetUserConfigurationSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdateUserConfiguration">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateUserConfiguration"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="UpdateUserConfigurationResult" use="literal"/>
                <soap:header message="tns:UpdateUserConfigurationSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- Availability Service -->

        <!-- GetUserAvailability -->
        <wsdl:operation name="GetUserAvailability">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetUserAvailability"/>
            <wsdl:input>
                <soap:body parts="GetUserAvailabilityRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetUserAvailabilityResult" use="literal"/>
                <soap:header message="tns:GetUserAvailabilitySoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- GetUserOofSettings -->
        <wsdl:operation name="GetUserOofSettings">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetUserOofSettings"/>
            <wsdl:input>
                <soap:body parts="GetUserOofSettingsRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetUserOofSettingsResult" use="literal"/>
                <soap:header message="tns:GetUserOofSettingsSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- SetUserOofSettings -->
        <wsdl:operation name="SetUserOofSettings">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/SetUserOofSettings"/>
            <wsdl:input>
                <soap:body parts="SetUserOofSettingsRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="SetUserOofSettingsResult" use="literal"/>
                <soap:header message="tns:SetUserOofSettingsSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- GetServiceConfiguration Bindings -->

        <!-- GetServiceConfiguration -->
        <wsdl:operation name="GetServiceConfiguration">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetServiceConfiguration"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed MailboxCulture header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetServiceConfigurationResult" use="literal"/>
                <soap:header message="tns:GetServiceConfigurationSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- GetMailTips -->
        <wsdl:operation name="GetMailTips">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetMailTips"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed MailboxCulture header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetMailTipsResult" use="literal"/>
                <soap:header message="tns:GetMailTipsSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- UMBindings -->
        <wsdl:operation name="PlayOnPhone">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/PlayOnPhone"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="PlayOnPhoneResult" use="literal"/>
                <soap:header message="tns:PlayOnPhoneSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetPhoneCallInformation">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetPhoneCallInformation"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetPhoneCallInformationResult" use="literal"/>
                <soap:header message="tns:GetPhoneCallInformationSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="DisconnectPhoneCall">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/DisconnectPhoneCall"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="DisconnectPhoneCallResult" use="literal"/>
                <soap:header message="tns:DisconnectPhoneCallSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- Sharing -->

        <!-- GetSharingMetadata -->
        <wsdl:operation name="GetSharingMetadata">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetSharingMetadata"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed RequestVersion header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetSharingMetadataResult" use="literal"/>
                <soap:header message="tns:GetSharingMetadataSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- RefreshSharingFolder -->
        <wsdl:operation name="RefreshSharingFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/RefreshSharingFolder"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed RequestVersion header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="RefreshSharingFolderResult" use="literal"/>
                <soap:header message="tns:RefreshSharingFolderSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- GetSharingFolder -->
        <wsdl:operation name="GetSharingFolder">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetSharingFolder"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed RequestVersion header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetSharingFolderResult" use="literal"/>
                <soap:header message="tns:GetSharingFolderSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- Find A Room Service -->

        <!-- GetRoomLists -->
        <wsdl:operation name="GetRoomLists">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetRoomLists"/>
            <wsdl:input>
                <soap:body parts="GetRoomListsRequest" use="literal"/>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
            </wsdl:input>

            <wsdl:output>
                <soap:body parts="GetRoomListsResult" use="literal"/>
                <soap:header message="tns:GetRoomListsSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- GetRooms -->
        <wsdl:operation name="GetRooms">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetRooms"/>
            <wsdl:input>
                <soap:body parts="GetRoomsRequest" use="literal"/>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
            </wsdl:input>

            <wsdl:output>
                <soap:body parts="GetRoomsResult" use="literal"/>
                <soap:header message="tns:GetRoomsSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- MessageTracking -->
        <wsdl:operation name="FindMessageTrackingReport">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/FindMessageTrackingReport"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed RequestVersion header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="FindMessageTrackingReportResult" use="literal"/>
                <soap:header message="tns:FindMessageTrackingReportSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetMessageTrackingReport">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetMessageTrackingReport"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed RequestVersion header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetMessageTrackingReportResult" use="literal"/>
                <soap:header message="tns:GetMessageTrackingReportSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!--Conversations-->
        <wsdl:operation name="FindConversation">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/FindConversation"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed Impersonation header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="FindConversationResult" use="literal"/>
                <soap:header message="tns:FindConversationSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ApplyConversationAction">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/ApplyConversationAction"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed Impersonation header-->
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="ApplyConversationActionResult" use="literal"/>
                <soap:header message="tns:ApplyConversationActionSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- Inbox Rules Operations -->

        <!-- GetInboxRules -->
        <wsdl:operation name="GetInboxRules">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/GetInboxRules"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="GetInboxRulesResult" use="literal"/>
                <soap:header message="tns:GetInboxRulesSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- UpdateInboxRules -->
        <wsdl:operation name="UpdateInboxRules">
            <soap:operation soapAction="http://schemas.microsoft.com/exchange/services/2006/messages/UpdateInboxRules"/>
            <wsdl:input>
                <!--FIX: Removed Impersonation header-->
                <!--FIX: Removed MailboxCulture header-->
                <!--FIX: Removed RequestVersion header-->
                <!--FIX: Removed TimeZoneContext header-->
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="UpdateInboxRulesResult" use="literal"/>
                <soap:header message="tns:UpdateInboxRulesSoapOut" part="ServerVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding><!--FIX: Add missing service element--><wsdl:service name="ExchangeWebService"><wsdl:port name="ExchangeWebPort" binding="tns:ExchangeServiceBinding"><soap:address location="https://example.com/EWS/exchange.asmx"/></wsdl:port></wsdl:service>
</wsdl:definitions>
